
h1{
    text-align: center;
}


a{
    text-align: center;
    text-decoration: none;
}


header{
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    width: 500px;
}

.fondoss{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}


.fondos{
    width: 300px;
    height: 300px;
}




/*zona donde esta todo el tema del carrusel */
#contenedor{
    width: 100%;
    height: 100vh;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 90px;
    
}

/*boton del carrusel */
button{
    border: 1px solid black;
}

/*img del carrusel*/
.carousel-item img{
    width: 270px;
    height: 270px;
    margin: 0 8vh;
    
}


#contactos{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: black;

}  

.contacto, .social{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 20px;
}


.contacto a, .social a{
    color: white;
    margin: 20px 0px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: darkgray;
    padding:1rem;
    transition: all 0.3s;
    text-decoration: none;
}



/* .btn:hover{
    background-color: white;
    color: black;
    transform: scale(1.2);
}  */


.links-footer{
    display: flex;
    flex-direction: column;
}



.ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 20px;

}

.ubicacion a {
    color: white;
    text-decoration: none;
}